In [4]:
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/home/ec2-user/dsdemo.json'

In [5]:
from google.cloud import bigquery
client = bigquery.Client()

sql = "select * from dsp_demo.user_scores"
client.query(sql).to_dataframe().head()

   User_ID      Pred                        time
0     1114  0.539771  2021-04-20 17:22:13.345259
1     3812  0.539771  2021-04-20 17:22:13.345259
2     9774  0.025261  2021-04-20 17:22:13.345259
3     8323  0.171155  2021-04-20 17:22:13.345259
4     2114  0.454823  2021-04-20 17:22:13.345259